<!doctype html>
<html>
  <head>
    <title>Kemal Chat</title>
    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <script>
      class CircularBuffer {
        constructor(bufferLength) {
          this.buffer = [];
          this.pointer = 0;
          this.bufferLength = bufferLength;
        }
        
        push(element) {
          this.buffer[this.pointer] = element;
          this.pointer = (this.pointer + 1) % this.bufferLength;
          return element;
        }
      
        get(i) {
          return this.buffer[i];
        }
        
        //Gets the ith element before last one 
        getLast(i = 0) {
          return this.buffer[(this.pointer - 1 - i) % this.bufferLength];
        }
      }

      $(document).ready(function() {
        // Open WebSocket connection
        var ws = new WebSocket("ws://" + location.host + "/chat");
        var messages = new CircularBuffer(10);
        // Append each message
        ws.onmessage = function(e) { 
          $('#chat').append(messages.push(e.data + "\n"));
          if(document.getElementById("chat").childNodes.length > messages.bufferLength){
            document.getElementById("chat").childNodes[0].remove();
          }
          if(e.data.includes("Added Device: ")){
            deviceIP =  e.data.split(":\ ")[1];
            formAdd = "<label><input type='radio' value='yes' /> yes</label><br>";
            formAdd = formAdd.replaceAll("yes", deviceIP);
            $('#deviceList').append(formAdd);
          }
        };

        $('#messages').bind('submit', function(e) {
          <!-- console.log(e); -->
          var message = $('#msg').val();
          ws.send(message);
          $('#msg').val(''); 
          $('#msg').focus();
          e.preventDefault();
        });

        $('#devices').bind('submit', function(e) {
          var inputs = $('#devices :checked');
          Array.from(inputs).forEach(function(element){
            console.log(element);
            var message = "Stop device: " + element.value;
            ws.send(message);
            $(element).parent().remove();
          })

          e.preventDefault();
        });

        window.onbeforeunload = function() {
          ws.onclose = function () {}; // disable onclose handler first
          ws.close()
        };
      });

    </script>
  </head>
  <body>
    <pre id='chat'></pre>
    <form id='messages' name='messages'>
      <input id='msg' placeholder='message...' />
      <input type="submit" value="Send">
    </form>
    <form id='devices' name='devices'>
      <label id='deviceList'>
        Devices:<br>
      </label>
      <input type="submit" value="Stop device">
    </form>
  </body>
</html>